# Core Data Science & Manipulation
pandas==2.2.0
numpy==1.26.4
scikit-learn==1.4.0
scipy==1.12.0
pyarrow==15.0.0

# Data Collection
ccxt==4.2.7
requests==2.31.0
beautifulsoup4==4.12.3
feedparser==6.0.10
selenium==4.17.2
alpha_vantage==2.3.1


# NLP for Sentiment Analysis
transformers==4.37.2
torch==2.2.0
sentencepiece==0.2.0

# Feature Engineering
statsmodels==0.14.1
matplotlib==3.8.2

# Modeling
xgboost==2.0.3
backtesting==0.3.3
shap==0.45.0

# Communication Bridge
pyzmq==25.1.2
